<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="form">
        <h1 style="margin-left: 20%;">Add a website to the list ! 📝</h1>
        <input id="call" class="input_web" placeholder="Name">
        <input id="url" class="input_web" type="text" placeholder="URL" name="url">
        <input id="urlImg" class="input_web" type="text" placeholder="URL Img" name="urlImg">
        <input id="type" class="input_web" type="text" placeholder="Documentations or Tools" name="type">
        <a href="#"><input id="submit_form" type="submit" value="Submit" href="#"
                style="width: 20%; height: 20%; margin-left: 30%;"></a>
    </div>
</body>

<script>
    const sql = require('mysql')

    var call = document.getElementById('call')
    var url = document.getElementById('url')
    var urlImg = document.getElementById('urlImg')
    var type = document.getElementById('type')

    var connection = sql.createConnection({
        host: 'localhost',
        user: 'valmnt',
        password: 'valmnt',
        database: 'valmnt'
    })

    connection.connect(function (err) {
        if (err) {
            console.log(err.code);
            console.log(err.fatal);
        }
        else {
            console.log('DATABASE ACCESS')
        }
    })

    document.getElementById('submit_form').addEventListener('click', function () {
        console.log(type.value)
        if (call.value && url.value && urlImg.value && type.value) {
            $query = "INSERT INTO website(name, url, urlImg, type) VALUES('" + call.value + "', '" + url.value + "', '" + urlImg.value + "', '" + type.value + "')"

            connection.query($query, function (err, rows, fields) {
                if (err) {
                    console.log("An error ocurred performing the query.");
                    console.log(err);
                    return;
                }
                console.log("Query succesfully executed");
            });
            window.location.replace("tools.html");
        }
        else {
            if (!call.value) {
                call.style.borderColor = "red"
            }
            else {
                call.style.borderColor = "#7289da"
            }
            if (!url.value) {
                url.style.borderColor = "red"
            }
            else {
                url.style.borderColor = "#7289da"
            }
            if (!urlImg.value) {
                urlImg.style.borderColor = "red"
            }
            else {
                urlImg.style.borderColor = "#7289da"
            }
            if (!type.value) {
                type.style.borderColor = "red"
            }
            else {
                type.style.borderColor = "#7289da"
            }
        }
    })

</script>

</html>