<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engine</title>
</head>

<body>
    <div class="main_input">
        <div class="contain">
            <h1 class="ask">Qui es-tu ? 👨🏼‍🎓</h1>
            <input id="input_user" type="text" placeholder="Username" name="user">
            <div style="width: 40%;"></div>
            <a href="tools.html"><input id="submit" type="submit" value="Submit"></a>
        </div>
    </div>

</body>

<script>
    document.querySelector('#submit').addEventListener('click', function () {
        var username = document.getElementById('input_user').value;

        const { ipcRenderer } = require('electron');

        ipcRenderer.send('asynchronous-message', username);

    });

</script>

</html>