<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Engine</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

</head>

<body>
    <a href="tools.html" style="text-decoration: none;">
        <h1 class="tools">Documentations</h1>
    </a>
    <div class="main_tools">

    </div>
    <form class="google" method=GET action="http://www.google.fr/search">
        <input class="search" TYPE=text name=q size=31 maxlength=255 value="" placeholder="Search">
    </form>
    <script async src="https://cse.google.com/cse.js?cx=003325550856876987833:amwhpitvat0"></script>
    <a href="add.html" class="addlink">Add Website</a>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
<script>
    const sql = require('mysql')

    var connection = sql.createConnection({
        host: 'localhost',
        user: 'valmnt',
        password: 'valmnt',
        database: 'valmnt'
    })

    connection.connect(function (err) {
        if (err) {
            console.log(err.code);
            console.log(err.fatal);
        }
        else {
            console.log('DATABASE ACCESS')
        }
    })

    function del(id) {
        $query = "DELETE FROM website WHERE id = " + id

        connection.query($query, function (err) {
            if (err) {
                console.log("An error ocurred performing the query.");
                console.log(err);
                return;
            }
            console.log("Query succesfully executed");
        });
    }

    function showWeb(callback) {
        $query = "SELECT * FROM website where type = 'Documentations'"

        connection.query($query, function (err, rows, fields) {
            if (err) {
                console.log("An error ocurred performing the query.");
                console.log(err);
                return;
            }
            callback(rows)
            console.log("Query succesfully executed");
        });
    }

    function integrationHTML() {
        showWeb(function (rows) {
            var html = ""

            rows.forEach(function (row) {
                console.log(row)

                html += '<div class="main_cards">'
                html += '<div class="card image-header">'
                html += '<div class="card-header fg-white" style="background-image: url(' + row.urlImg + ')">'
                html += '</div>'
                html += '<div class="card-footer">'
                html += "<button style='background-color: #7289da; border-radius: 25px;' class='button secondary'><a style='color: white;' class='link' href='" + row.url + "'>" + row.name + "</a ></button > "
                html += "<a class='delink' href='documentations.html'><img onclick='del(" + row.id + ")' class='del' src='assets/delete.png' style='width:15%; height:15%; margin-left: 80%;'></a>"
                html += '</div>'
                html += '</div>'
                html += '</div>'
            });
            document.querySelector('.main_tools').innerHTML = html;
        })
    }
    integrationHTML()
</script>

</html>