<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Engine</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

</head>

<body>
    <h1>Tools</h1>
    <div class="main_tools">
        <div class="main_cards">
            <div class="card image-header">
                <div class="card-header fg-white" style="background-image: url(assets/github.jpg)">
                    Github
                </div>
                <div class="card-footer">
                    <button class="button secondary"><a class="link" href="https://github.com/">Lets go
                            !</a></button>
                </div>
            </div>
        </div>
        <div class="main_cards">
            <div class="card image-header">
                <div class="card-header fg-white" style="background-image: url(assets/gitlab.jpg)">
                    Gitlab
                </div>
                <div class="card-footer">
                    <button class="button secondary"><a class="link" href="https://gitlab.com/users/sign_in">Lets go
                            !</a></button>
                </div>
            </div>
        </div>
        <div class="main_cards">
            <div class="card image-header">
                <div class="card-header fg-white" style="background-image: url(assets/stack.jpg)">
                    <span style="color:black;">Stackoverflow</span>
                </div>
                <div class="card-footer">
                    <button class="button secondary"><a class="link" href="https://stackoverflow.com/">Lets go
                            !</a></button>
                </div>
            </div>
        </div>
    </div>
    <h1>Documentations</h1>
    <div class="main_tools">
        <div class="main_cards">
            <div class="card image-header">
                <div class="card-header fg-white" style="background-image: url(assets/symfony.jpg)">
                    <span style="color:black;">Symfony</span>
                </div>
                <div class="card-footer">
                    <button class="button secondary"><a class="link"
                            href="https://symfony.com/doc/current/index.html">Lets go
                            !</a></button>
                </div>
            </div>
        </div>
        <div class="main_cards">
            <div class="card image-header">
                <div class="card-header fg-white" style="background-image: url(assets/electron.jpg)">
                    Electron
                </div>
                <div class="card-footer">
                    <button class="button secondary"><a class="link" href="https://www.electronjs.org/docs">Lets go
                            !</a></button>
                </div>
            </div>
        </div>
        <div class="main_cards">
            <div class="card image-header">
                <div class="card-header fg-white" style="background-image: url(assets/express.jpg)">
                    <span style="color:black;">ExpressJS</span>
                </div>
                <div class="card-footer">
                    <button class="button secondary"><a class="link" href="https://expressjs.com/fr/">Lets go
                            !</a></button>
                </div>
            </div>
        </div>
        <div class="main_cards">
            <div class="card image-header">
                <div class="card-header fg-white" style="background-image: url(assets/socket.jpg)">
                    <span style="color:black;">Socket.io</span>
                </div>
                <div class="card-footer">
                    <button class="button secondary"><a class="link" href="https://socket.io/docs/">Lets go
                            !</a></button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>

</html>