<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main_input">
        <div class="contain">
            <h1 class="ask">Picture ! 📷</h1>
            <input id="input_user" class="input_web" placeholder="URL Picture">
            <div style="width: 40%;"></div>
            <a href="tools.html"><input id="submit" type="submit" value="Submit"></a>
        </div>
    </div>
</body>
<script src="../js/connection.js"></script>
<script src="../js/profil.js"></script>

</html>