body{
    background-color:#424549;
    background-image: url(assets/bg.png);
    overflow:hidden;
}
.link{
    color: white;
}
.link:hover{
    color: white;
}
.main_cards{
    width: 20%;
}
.main_tools{
    padding: 2%;
    width: 100%;
    height: auto;
    display: flex;
}
h1{
    margin-left: 3%;
    color: white;
}
.main_input{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input_user{
    width: 60%;
    height: 9%;
    border: solid 3px#7289da;
    border-radius: 25px;
    padding-left: 1%;
}
#input_user:focus{
    outline:  none;
}
.contain{
    padding-top: 15%;
    text-align: center;
    width: 80%;
    height: 500px;
    flex-direction: column;
}
#submit{
    margin-top: 2%;
    width: 10%;
    height: 10%;
    border-radius: 25px;
    background-color:  	#7289da;
    border: solid 2px white;
    color: white;
}
#submit:hover{
    background-color: white;
    border:solid 2px #7289da;
    color: #7289da;
    cursor: pointer;
    outline:  none;
}
#submit_form{
    margin-top: 2%;
    width: 10%;
    height: 10%;
    border-radius: 25px;
    background-color:  	#7289da;
    border: solid 2px white;
    color: white;
    outline:  none; 
}
#submit_form:hover{
    background-color: white;
    border: solid 2px #7289da;
    color: #7289da;
    cursor: pointer;
    outline:  none;
}
#sub{
    margin-top: 2%;
    width: 10%;
    height: 10%;
    border-radius: 25px;
    background-color:  	#7289da;
    border: solid 2px white;
    color: white;
    outline:  none; 
}
#sub:hover{
    background-color: white;
    border: solid 2px #7289da;
    color: #7289da;
    cursor: pointer;
    outline:  none;
}
.addlink{
    height: 5%;
    width: 8%;
    border: 3px white solid;
    border-radius: 25px;
    background-color: #7289da;
    font-weight: bold;
    margin-left: 45%;
    bottom: 0;
    margin-bottom: 5%;
    position: absolute;
    z-index: 1000;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
    outline:  none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.addlink:hover{
    text-decoration: none;
    color: #7289da;
    background-color: white;
    border-color: #7289da;
}
.form{
    width: 50%;
    height: 250px;
    margin-left: 22%;
    margin-top: 10%;
    padding-left: 8%;
    padding-top: 5%;
}
.input_web{
    width: 80%;
    margin-bottom: 2%;
    height: 15%;
    border-radius: 25px;
    border: solid 3px white;
    padding-left: 1%;
    outline: none;
}
.input_web:hover{
    outline: none;
    border: solid 5px white;
    border-color: #7289da;
}
.tools{
    width: 70%;
}
.tools:hover{
    color: #7289da;
    cursor: pointer;
}
.google{
    position: absolute;
    bottom: 0;
    margin-bottom: 10%;
    width: 30%;
    border: solid 4px #7289da;  
    border-radius: 25px;
    margin-left: 33.5%;
    outline:  none;
    box-shadow: -1px 3px 5px 1px rgba(0, 0, 0, 0.7); 
    z-index: 1000;
}
.search{
    border-radius: 25px;
    outline:  none;
}
.google:hover{
    box-shadow: -1px 6px 5px 1px rgba(0, 0, 0, 0.7); 
    outline:  none;
}
.card-footer{
    background-color: white;
    opacity: 0.8;
}
.del:hover{
    cursor: pointer;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.7); 
}
.pp{
    margin-top: 1.5%;
    border-radius: 25px;
    overflow: hidden;
}
#pictureProfil{
    width: 100%;
    height: 100%;
    border-radius: 90px;
}
#pictureProfil:hover{
        cursor: pointer;
        opacity: 0.7;
}
.menu_header{
    height: 150px;
    padding-top: 2%;
}
.input_p{
    width: 80%;
    margin-bottom: 2%;
    height: 15%;
    border-radius: 25px;
    border: solid 3px white;
    padding-left: 1%;
    outline: none;
}