<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Engine</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

</head>

<body>
    <a href="documentations.html" style="text-decoration: none;">
        <h1 class="tools">Tools</h1>
    </a>
    <div class="main_tools">

    </div>
    <a href="add.html" class="addlink">Add Website</a>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
<script>
    const sql = require('mysql')

    var connection = sql.createConnection({
        host: 'localhost',
        user: 'valmnt',
        password: 'valmnt',
        database: 'valmnt'
    })

    connection.connect(function (err) {
        if (err) {
            console.log(err.code);
            console.log(err.fatal);
        }
        else {
            console.log('DATABASE ACCESS')
        }
    })

    function showWeb(callback) {
        $query = "SELECT * FROM website where type = 'Tools'"

        connection.query($query, function (err, rows, fields) {
            if (err) {
                console.log("An error ocurred performing the query.");
                console.log(err);
                return;
            }
            callback(rows)
            console.log("Query succesfully executed");
        });
    }

    function integrationHTML() {
        showWeb(function (rows) {
            var html = ""

            rows.forEach(function (row) {
                console.log(row)

                html += '<div class="main_cards">'
                html += '<div class="card image-header">'
                html += '<div class="card-header fg-white" style="background-image: url(' + row.urlImg + ')">'
                html += '<span style="color:black;">' + row.name + '</span>'
                html += '</div>'
                html += '<div class="card-footer">'
                html += "<button class='button secondary'><a class='link' href='" + row.url + "'>Let's go!</a ></button > "
                html += '</div>'
                html += '</div>'
                html += '</div>'
            });
            document.querySelector('.main_tools').innerHTML = html;
        })
    }
    integrationHTML()
</script>

</html>